{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <br> <br>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <!-- button type="button" class="btn btn-primary"    -->
        <form method="POST" action="{{ url_for('show_post', post_id = post.id ) }}">

        <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                <table>

            {% set count = namespace(value=0) %}
            {% for field in form %}
                {% if field.name != "csrf_token" and field.name != "submit1" %}
                    <tr><td> <h5> {{ field.label }}</h5></td>
                    <td>  <h5> {{ field }} </h5></td></tr>
                    {% set count.value = count.value + 1 %}
                    {%if field.name == "bl" %}
                    </table>

                    </div>

                    <div class="p-2 bd-highlight">

                    <table>
                     {% endif %}

                    {%elif field.name == "submit1" %}
                         </table>
                        <div class="p-2 bd-highlight">
                            {{ field }}
                        </div>

                    {% endif %}
            {% endfor %}

               </div>
            </div>
            </form>
<!--                <div class="form-control-sm" style="width: 600px">{{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 3, 7) , novalidate=True, button_map={"submit": "primary"}) }}</div>-->





            </div>

</article>


{% include "footer.html" %}
{% endblock %}