{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <br> <br> <br> <br>
        </div>
    </div>
</header>

<!-- Post Content -->

    <div class="container">
        <div class="column">
                    <input class="btn btn-primary p-3 btn-sm mb-2" id="DadosGerais" name="submit1" type="submit" value="Salvar"> </input>
                    <a  class="btn btn-primary  p-3 btn-sm mb-2" href="{{ url_for('get_all_posts') }}">Voltar</a>
        </div>

        <form method="POST" action="{{ url_for('show_post', post_id = post.id ) }}">

            <div class="row">
                <div class=" bg-light p-5 post-preview " >
<!--                <div class="d-flex flex-row bd-highlight mb-3">-->
<!--                    <div class="p-2 bd-highlight ">-->
                        <table style="width:300px">
                            <colgroup>
                                <col span="1" style="width: 40%;">
                                <col span="1" style="width: 60%;">
                            </colgroup>

                            <tbody>
                            {% set count = namespace(value=0) %}
                            {% for field in form %}
                            {% if field.name != "csrf_token" and field.name != "submit1" %}
                            <tr><td> <h5> {{ field.label }}</h5></td>
                                <td><h5> {{ field }} </h5></td></tr>
                            {% set count.value = count.value + 1 %}
                            {%if field.name == "Obs" %}
                            </tbody>
                        </table>
                </div>


                <div class=" bg-light p-5 post-preview " >
                        <table style="width:300px">
                            <colgroup>
                               <col span="1" style="width: 40%;">
                               <col span="1" style="width: 60%;">
                            </colgroup>
                            <tbody>
                            {% endif %}
                            {%elif field.name == "submit1" %}
                        </table>

                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

        </form>
<!--                <div class="form-control-sm" style="width: 600px">{{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 3, 7) , novalidate=True, button_map={"submit": "primary"}) }}</div>-->
          </div>





{% endblock %}